@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --sh-class: #2d5e9d; */
    --sh-identifier: #171717;
    --sh-sign: #8996a3;
    --sh-property: hsl(278.93deg 100% 36.12%);
    --sh-entity: hsl(210.8deg 100% 38.9%);
    --sh-jsxliterals: #6266d1;
    --sh-string: hsl(138.58deg 77.94% 27.65%);
    --sh-keyword: rgb(215, 58, 73);
    --sh-comment: #a19595;
  }

  * {
    @apply min-w-0;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-svh overflow-x-clip bg-gray-50 font-sans antialiased;
    -webkit-text-size-adjust: 100%;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold tracking-tighter;
  }

  h1 {
    @apply mb-4 text-4xl md:text-5xl;
  }

  h2 {
    @apply mb-4 text-2xl md:text-3xl;
  }

  p {
    @apply mb-1;
  }

  pre {
    @apply bg-white py-5 pr-4 text-[13px];

    code {
      @apply grid whitespace-pre break-normal text-left font-mono text-[13px];

      .sh__line {
        @apply relative min-w-max;
      }
    }

    &:is(.show-line-numbers) {
      code {
        counter-reset: sh-line-number;

        .sh__line {
          @apply px-4;

          &:before {
            @apply mr-6 inline-block w-5 text-right tabular-nums text-gray-400;
            counter-increment: sh-line-number 1;
            content: counter(sh-line-number);
          }
        }
      }
    }
  }
}

@layer components {
  .subtitle {
    @apply mb-4 leading-relaxed text-gray-600;
  }

  .inline-code {
    @apply inline-block rounded-md border bg-gray-100 px-1 font-mono text-sm not-italic text-gray-600;
  }

  .vertical-scroll-area {
    @apply block h-fit min-h-full grow;
  }

  .horizontal-scroll-area {
    @apply block w-fit min-w-full grow;
  }
}
